/* color palette from <https://github.com/vuejs/theme> */
:root {
  /* Gruvbox Dark */
  --gruv-bg-dark: #282828;
  --gruv-fg-dark: #ebdbb2;
  --gruv-comment-dark: #928374;
  --gruv-red-dark: #cc241d;
  --gruv-green-dark: #98971a;
  --gruv-yellow-dark: #d79921;
  --gruv-blue-dark: #458588;
  --gruv-purple-dark: #b16286;
  --gruv-aqua-dark: #689d6a;
  --gruv-orange-dark: #d65d0e;

  /* Gruvbox Light */
  --gruv-bg-light: #fbf1c7;
  --gruv-fg-light: #3c3836;
  --gruv-comment-light: #7c6f64;
  --gruv-red-light: #9d0006;
  --gruv-green-light: #79740e;
  --gruv-yellow-light: #b57614;
  --gruv-blue-light: #076678;
  --gruv-purple-light: #8f3f71;
  --gruv-aqua-light: #427b58;
  --gruv-orange-light: #af3a03;
}

:root {
  /* Dark Theme (Default) */
  --color-bg: var(--gruv-bg-dark);

  --color-text-primary: var(--gruv-fg-dark);
  --color-text-secondary: var(--gruv-comment-dark);
  --color-text-comment: var(--gruv-comment-light);

  --color-link: var(--gruv-blue-dark);
  --color-link-hover: var(--gruv-green-dark);
}

/* Light Theme */
@media (prefers-color-scheme: light) {
  :root {
    --color-bg-primary: var(--gruv-bg-light);

    --color-text-primary: var(--gruv-fg-light);
    --color-text-secondary: var(--gruv-comment-light);
    --color-text-muted: var(--gruv-comment-dark);
    --color-text-inverted: var(--gruv-bg-light);

    --color-link: var(--gruv-blue-light);
    --color-link-hover: var(--gruv-green-light);
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}
h1, h2 {
  color: var(--gruv-fg-dark);
}

body {
  min-height: 100vh;
  background-image: linear-gradient(to right, #1d2021, #282828);
  color: var(--gruv-fg-dark);
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.6;
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
