/* color palette from <https://github.com/vuejs/theme> */
:root {
  /* KG Dark */
  --kg-col-bg-dark: #161616;
  --kg-col-bg-acc-dark: #1B1B1B;
  --kg-col-fg-dark: #E8E8E8;
  --kg-col-green: #62AB37;
  --kg-col-teal: #39A2AE;
  --kg-col-red: #720E07;

  --kg-col-fg-light: #0D1117;
  --kg-col-bg-light: #E8E8E8;
}

:root {
  /* Dark Theme (Default) */
  --kg-bg: var(--kg-col-bg-dark);
  --kg-bg-2: var(--kg-col-bg-acc-dark);
  --kg-fg: var(--kg-col-fg-dark);
  --kg-red: var(--kg-col-red);
}

/* Light Theme */
@media (prefers-color-scheme: light) {
  :root {
    --kg-bg: var(--kg-col-bg-light);
    --kg-fg: var(--kg-col-fg-light);
  }
}
