@import './base.css';
@import 'bootstrap/dist/css/bootstrap.min.css';

body {
  background-color: var(--gruv-gb-dark);
}

#app {
  margin: 0 auto;
  padding: 1rem;
  font-weight: normal;
  min-width:100%;
  max-width:992px;
}

h1, h2, h3, h4, h5, p {
  color: var(--gruv-fg-dark);
}

a {
  text-decoration: none;
  color: var(--color-text-primary);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (max-width: 997px) {
}
